body {
    font-family: $primary-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3
h4,
.h4 {
    font-family: $secondary-font-family;
    font-weight: 500;
    text-align: center;
}
