@import "../../../../src/scss/abstracts/all";

.rhumba-shooter {
  background-image: url("../../../images/shooters.png");
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;

  &__titre {
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    color: $b-rhumba;
    text-transform: uppercase;
  }

  &__liste {
    display: grid;
    justify-items: stretch;
    grid-row-gap: 5px;
    margin: auto;
    width: 100%;
    max-width: 350px;
  }

  &__item {
    display: grid;
    grid-column-gap: 10px;
    align-items: center;
  }

  &__nom {
    grid-row: 1;
    grid-column: 1;
    grid-column-end: 3;
    text-align: left;
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
    color: $b-rhumba;
  }

  &__recette {
    grid-row: 2;
    grid-column: 1;
    grid-column-end: 3;
    text-align: left;
  }
  &__supp {
    text-align: left;
    font-size: clamp(10px, 2vw, 12px);
  }

  &__prix {
    text-align: right;
    grid-column: 3;
    grid-row: 1;
    grid-row-end: 3;
    color: $black;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
  }
}
