html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: white;
  overflow-x: hidden;
  padding: 80px 0px;
}

.body-bubble,
.body-bubble-2,
.body-bubble-3 {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  filter: blur(8px);
  z-index: -1;
  pointer-events: none;
}

.body-bubble {
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(109, 177, 255, 0.482), transparent);
}

.body-bubble-2 {
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, rgba(105, 183, 235, 0.342), transparent);
}

.body-bubble-3 {
  width: 650px;
  height: 650px;
  background: radial-gradient(circle, rgba(132, 188, 226, 0.312), transparent);
}

.body-spline,
.body-spline-2,
.body-spline-3 {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  stroke: white;
  fill: none;
  stroke-width: 3;
  opacity: 0.3;
  filter: blur(1px);
}

.body-spline {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-spline-2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-spline-3 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.notice{
    text-align: center;
    background-color: rgba($white, 0.8);
    border: 2px solid rgba($white, 0.8);
    border-radius: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    max-width: calc(100% - 10px);
}