$breakpoints : (
    xsm: 600,
    sm: 768,
    md: 960,
    lg: 1200
);

@mixin breakpoints($breakpoint, $minOrMax : min) {

    @if ($minOrMax == max) {

        @media screen and (max-width: rem(map-get($breakpoints, $breakpoint) - 1)) {
            @content;
        }
    } @else {

        @media screen and (min-width: rem(map-get($breakpoints, $breakpoint))) {
            @content;
        }
    }
}