// Font Family
$primary-font-family: var(--wp--preset--font-family--primary-font);
$secondary-font-family: var(--wp--preset--font-family--secondary-font);

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;

/**
 * Fontfaces
 * When you are preloading fonts make sure that what is preloaded matches with the src defined in your
 * @font-face rules
 * https://nooshu.github.io/blog/2021/01/23/the-importance-of-font-face-source-order-when-used-with-preload/
 */
/*@include declare-font-face("Libre Franklin", "../fonts/LibreFranklin-Regular");
@include declare-font-face("Libre Franklin", "../fonts/LibreFranklin-Bold", 700);
@include declare-font-face("Great Vibes", "../fonts/GreatVibes-Regular", 500);*/