// Strip units
@function strip-units($value) {
    @return calc($value / ($value * 0 + 1px));
}

// PX to REM
@function rem($pxval, $base: $base-font-size) {

    @if not unitless($pxval) {
        $pxval: strip-units($pxval);
    }

    @if not unitless($base) {
        $base: strip-units($base);
    }

    @return calc($pxval / $base) * 1rem;
}

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Animations
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes bio {
    0%, 100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
}