body {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  #page {
    width: 100%;
    display: flex;
    flex-direction: column;
    main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      section{
        max-width: 400px;
        width: 100%;
      }
    }
  }
}
