@import "../../../../src/scss/abstracts/all";

.rhumba-boissons-chaudes {
  background-image: url("../../../images/cafe.png");
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;

  &__titre {
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    color: $b-rhumba;
    text-transform: uppercase;
  }

  &__liste {
    display: grid;
    justify-items: stretch;
    grid-row-gap: 5px;
    margin: auto;
    width: 100%;
    max-width: 350px;
  }

  &__item {
    display: grid;
    grid-column-gap: 10px;
    align-items: center;
    grid-template-columns: 1fr auto;
  }

  &__nom {
    text-align: left;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
    color: $b-rhumba;
  }

  &__prix {
    text-align: right;
    color: $black;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
  }

  &__supp {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    font-size: clamp(10px, 2vw, 12px);
  }
}
