// Reset
@import "base/reset";

// Abstracts
@import "abstracts/colors";
@import "abstracts/breakpoints";
@import "abstracts/mixins";
@import "abstracts/fonts";
@import "abstracts/functions";
@import "abstracts/placeholders";
@import "abstracts/utilities";
@import "abstracts/variables";

// Base
@import "base/text";

// Vendors

// Layout
@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";
@import "layout/layout";

// Components
@import "components/carousel";
@import "components/media";
@import "components/thumbnails";
@import "components/btn";

// Pages
@import "pages/home";
@import "pages/page";
@import "pages/contact";
@import "pages/404";

// Themes
@import "themes/admin";
@import "themes/theme";