@import "../../../../src/scss/abstracts/all";

.rhumba-bieres-locales {
  background-image: url("../../../images/bg-local.png");
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__titre {
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    color: $b-rhumba;
    text-transform: uppercase;
  }

  &__liste {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__image {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(-5deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__nom {
    margin: 0;
    color: $b-rhumba;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
  }

  &__info-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    font-size: 14px;
  }

  &__type,
  &__degres,
  &__cl {
    color: $black;
  }

  &__description {
    line-height: 1.4;
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  &__prix {
    color: $black;
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 300;
  }
}

@media screen and (max-width: 500px) {
  .rhumba-bieres-locales {
    &__item {
      grid-template-columns: 100px 1fr;
      gap: 15px;
    }

    &__image {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 370px) {
  .rhumba-bieres-locales {
    &__item {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__image {
      margin: 0 auto;
    }

    &__details {
      justify-content: center;
    }
  }
}
